.work-experience-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.company-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    height: 300px;
    /* Cố định chiều cao cho card */
}

.company-card:hover {
    transform: translateY(-10px);
}

.company-image {
    width: 100%;
    height: 200px;
    /* Cố định chiều cao cho ảnh */
    object-fit: contain;
    /* Đảm bảo ảnh được thu nhỏ và giữ nguyên tỉ lệ */
    background-color: #f0f0f0;
    /* Màu nền để làm nổi bật ảnh khi có khoảng trống */
}

.ant-card-meta-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}